@font-face {
  font-family: 'poppins-light';
  src: url('./poppins-webfont/poppins-light-webfont.woff') format('woff'),
    url('./poppins-webfont/poppins-light-webfont.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'poppins-medium';
  src: url('./poppins-webfont/poppins-medium-webfont.woff') format('woff'),
    url('./poppins-webfont/poppins-medium-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppins-semibold';
  src: url('./poppins-webfont/poppins-semibold-webfont.woff') format('woff'),
    url('./poppins-webfont/poppins-semibold-webfont.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  word-break: keep-all;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  display: flex;
  justify-content: center;
}

body {
  font-size: 15px;
  max-width: 375px;
  padding: 0 5%;
  display: flex;
  flex-flow: column nowrap;
  justify-items: center;
  background-color: hsl(0, 0%, 98%);
}

.first-header {
  font-family: 'poppins-light', sans-serif;
  font-weight: lighter;
  color: hsl(229, 6%, 66%);
}

.second-header {
  font-family: 'poppins-semibold', sans-serif;
  font-weight: bold;
  color: hsl(234, 12%, 34%);
}

header {
  text-align: center;
  /*grid-row: 1;*/
}

h1 {
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'poppins-medium', sans-serif;
}

.introduction {
  color: hsl(229, 6%, 66%);
  text-align: center;
  padding: 15px;
  max-width: 100%;
}

section > p {
  color: hsl(229, 6%, 66%);
}

section {
    width: 100%;
    padding: 15px 25px;
    display: grid;
    grid-template-rows: 20% 20% 32.5% 27.5%;
  }

section > h3 {
  grid-row: 1;
}

section > p {
  grid-row: 2;
}

section > img {
  grid-row: 4;
  color: hsl(229, 6%, 66%);
  justify-self: end;
  object-fit: contain;
}

.supervisor {
  border-top: 3px solid hsl(180, 62%, 55%);
  box-shadow: 0 5px 5px hsl(229, 6%, 66%);
}

.team-builder {
  border-top: 3px solid hsl(0, 78%, 62%);
  box-shadow: 0 5px 5px hsl(229, 6%, 66%);
}

.karma {
  border-top: 3px solid hsl(34, 97%, 64%);
  box-shadow: 0 5px 5px hsl(229, 6%, 66%);
}

.calculator {
  border-top: 3px solid hsl(212, 86%, 64%);
  box-shadow: 0 5px 5px hsl(229, 6%, 66%);
}

@media all and (min-width: 960px) {
  body {
    display: grid;
    grid-template-rows: 7.5vh 10vh repeat(5, 12.5vh) 20vh;
    grid-template-columns: repeat(11, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    padding: auto 0;
    max-width: 1440px;
  }

  .introduction {
    color: hsl(229, 6%, 66%);
    text-align: center;
    padding: 15px;
    max-width: 100%;
    font-size: larger;
  }

  section {
    width: 100%;
    padding: 15px 25px;
    letter-spacing: 0.5px;
    display: grid;
    grid-template-rows: 20% 20% 32.5% 27.5%;
  }

  section > h3 {
    grid-row: 1;
  }

  section > p {
    grid-row: 2;
  }

  section > img {
    grid-row: 4;
    color: hsl(229, 6%, 66%);
  }

  h1 {
    font-size: 1.8rem;
  }

  .supervisor {
    border-top: 3px solid hsl(180, 62%, 55%);
    box-shadow: 0 5px 10px hsl(229, 6%, 66%);
  }

  .team-builder {
    border-top: 3px solid hsl(0, 78%, 62%);
    box-shadow: 0 5px 10px hsl(229, 6%, 66%);
  }

  .karma {
    border-top: 3px solid hsl(34, 97%, 64%);
    box-shadow: 0 5px 10px hsl(229, 6%, 66%);
  }

  .calculator {
    border-top: 3px solid hsl(212, 86%, 64%);
    box-shadow: 0 5px 10px hsl(229, 6%, 66%);
  }

  header {
    padding-bottom: 4vh;
    margin-bottom: 40px;
    grid-row: 2 / 4;
    grid-column: 4 / 9;
  }

  .team-builder {
    grid-row: 4 / 6;
    grid-column: 5 / 8;
  }

  .karma {
    grid-row: 6 / 8;
    grid-column: 5 / 8;
  }

  .supervisor {
    grid-row: 5 / 7;
    grid-column: 2 / 5;
  }

  .calculator {
    grid-row: 5 / 7;
    grid-column: 8 / 11;
  }

  footer {
    grid-row: 8 / 9;
    grid-column: 5 / 8;
  }
}
